/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}

nav {
	display: inline-block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
	background-image: url("images/donuts-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
	
}

.center {
	width: 550px;
	height: 550px;
	padding: 2%;
    margin: 50px auto;
 	background: rgb(254, 210, 223, 0.75);
	text-align: center;
	border: 7px solid white;
	border-radius: 50%;
	border-style: double; 
    text-align: center;
	
}

.center-descr {
	width: 800px;
    padding: 2%;
    margin: 20px auto;
    background: rgba(243, 219, 115);
    text-align: center;
    border-radius: 10px;
	
}  
#logo {
    margin-bottom: 16px;
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: josefin-slab, serif;
	font-weight: 600;
	font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color:black;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	 font-family: abril-fatface, serif;
	 font-weight: 400;
	 font-style: normal;
	font-size: 1.2em;
    line-height: 1.4;
    color:white;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}
p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: copse, serif;
	font-weight: 400;font-style: normal;
	font-size: 1.4em;
    line-height: 1.6;
	color: #da640e;
}
nav{
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
	width: 400px;
	margin: 0 auto;
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
	}

nav li{
	display: inline;
	}

nav a{
	display:inline-block;
	padding: 10px;
	}

a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
	}

a:hover{
	color: white;
	background: rgb(254, 210, 223, 0.7);
	}

   
    

